/*common start*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}
body {
    font-family: "Roboto", sans-serif;
}
/*common end*/

/*header start*/
.header {
    padding: 30px 0;
}
.header-and-hero__wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: #0e1d34;
    background-image: url("../source/images/hero-bg.png");
    background-size: cover;
    background-position: center;
    position: relative;
}

.bg-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.wrapper {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 64px;
    height: 64px;
}

.header__logo svg {
    fill: white;
}

.header__navigation-wrapper {
    width: 600px;
}

.header__nav-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__nav-items a {
    color: rgba(255, 255, 255, 0.6);
    transition: 0.3s;
}
.header__nav-items a:hover {
    color: #fff;
}
.active a {
    color: #fff;
}
.order-btn {
    background: #0d42ff;
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.order-btn a {
    color: white;
    font-weight: 700;
    font-size: 15px;
}
/*header end*/

/*hero start*/
.hero__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 120px 0px 120px 0px;
    align-items: center;
}

.hero-left__content {
    width: 600px;
}

.hero-title {
    color: white;
    font-size: 48px;
    margin-bottom: 40px;
}

.hero-text {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 60px;
    color: rgba(255, 255, 255, 0.8);
}

.hero-stats__block {
    width: 600px;
}

.hero-stats__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.hero-stats__item {
    color: rgba(255, 255, 255, 0.8);
}

.hero-stats__item span {
    font-size: 25px;
    font-weight: 700;
}

.hero-stats__item {
    font-size: 15px;
}

.hero-stats__item span::after {
    content: "";
    display: block;
    margin: 20px auto 0 auto;
    width: 20px;
    height: 3px;
    background: #0d42ff;
}

.hero-img {
    max-width: 100%;
    height: auto;
    max-height: 600px;
}

@media (max-width: 1100px) {
    .hero__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    .hero-stats__item {
        width: 300px;
        margin-bottom: 40px;
    }
    .hero-left__content {
        width: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero-stats__item span {
        font-size: 35px;
        font-weight: 700;
    }
    .hero-stats__item p {
        font-size: 20px;
    }
    .hero-img {
      margin-bottom: 40px;
    }
}
/*hero end*/

/*about-section start*/

.about-section {
    padding: 80px 0;
}
.about-us__wrapper {
    display: flex;
    justify-content: space-between;
}
.about-info__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.about-info__list li {
    cursor: pointer;
    transition: 0.3s;
}
.about-info__list li:hover .about-list__content h4 {
    color: #001f8d;
}

.about-list__icon {
    margin-bottom: 5px;
}

.about-list__icon svg {
    width: 50px;
    height: 50px;
    fill: #0d42ff;
}

.about-list__content h4 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
    color: #132848;
}

.about-list__content p {
    font-size: 15px;
    color: #132848;
}

.about-list__content span {
    display: inline-block;
    margin-top: 15px;
}
.about-list__content span a {
    color: black;
}
.about-list__content span::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url("../source/images/icons/arrow-right-svgrepo-com.svg") no-repeat;
    background-size: 15px;
    margin-left: 5px;
}

/* ------------ */
.about-us__wrapper {
    padding: 80px 0 0 0;
    gap: 50px;
}

.about-us-title {
    font-weight: 700;
    font-size: 32px;
    color: #001f8d;
    margin-bottom: 10px;
}
.about-us-text {
    font-weight: 300;
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
}
.about-us__item-title {
    font-size: 18px;
    font-weight: 700;
    color: #19335c;
    margin-bottom: 10px;
}
.about-us__item-text {
    font-size: 17px;
    font-weight: 300;
}
.about-us__left-content {
    width: 480px;
}


.about-us__list {
    margin-top: 30px;
}
.about-us__item {
    display: flex;
    align-items: center;
    gap: 20px;
}
.about-us__item-icon {
    width: 65px;
    height: 65px;
}

.about-us__item:not(:last-child) {
    margin-bottom: 30px;
}
.about-us__img {
    max-width: 100%;
    height: auto;
    max-height: 500px;
}

@media (max-width: 1270px) {
    .about-us__img {
        max-height: 400px;
    }
}
@media (max-width: 1100px) {
    .about-us__img {
        max-width: 100%;
        height: auto;
        max-height: 600px;
    }
    .about-us__wrapper {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .about-us__left-content,
    .about-us__right-content {
        width: 700px;
    }
}
/*about-section end*/


/*services-section start*/
.services-section {
    padding: 0 0 80px 0;
}
.title {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 40px;
    padding-bottom: 0;
    color: #001973;
    text-align: center;
}
.title::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background: #001973;
    text-align: center;
    margin: 0 auto;
}
.services-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 40px;
}

.services-row__card-img img {
    width: 400px;
    max-width: 100%;
    height: auto;
}
.services-row__card {
    cursor: pointer;
    max-width: 400px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}
.services-row__item-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
    padding: 10px 30px;
    text-transform: uppercase;
    color: #001f8d;
}
.services-row__item-text {
    padding: 0 30px;
    margin-bottom: 30px;
    color: #0e1d34;
    font-weight: 300;
    font-size: 15px;
}

.img-hover {
    overflow: hidden;
}

.img-hover img {
    transition: transform .5s ease;
}
.services-row__card-img img {
    overflow: hidden;
    margin-bottom: 15px;
    border-radius: 0;
}
.img-hover:hover .services-row__card-img img {
    transform: scale(1.1);
}
/*services-section end*/

/*pricing-section start*/
.pricing-section {
    padding: 0 0 80px 0;
}
.pricing__items-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.pricing-item {
    padding: 60px 40px;
    box-shadow: 0 3px 20px -2px rgba(108, 117, 125, 0.2);
    border-radius: 10px;
    max-width: 400px;
    width: 100%;

    transition: 0.2s ease-in-out;
}
.pricing-item h3 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 20px;
    color: #0e1d34;
}
.pricing-item h4 {
    font-weight: 400;
    margin-bottom: 40px;
    font-size: 48px;
    color: #001f8d;
}
.pricing-item h4 span {
    color: rgba(108, 117, 125, 0.8);
    font-size: 18px;
}
.low-cost__list li,
.medium-cost__list li,
.luxury-cost__list li {
    color: #6c757d;
    font-weight: 300;
    font-size: 18px;
}
.low-cost__list li:not(:last-child),
.medium-cost__list li:not(:last-child),
.luxury-cost__list li:not(:last-child) {
    margin-bottom: 20px;
}
.low-cost__list li:nth-last-child(n+3) {
    padding-left: 2rem;
    background-image: url("../source/images/icons/checkmark-svgrepo-com.svg");
    background-position: 0 0;
    background-size: 25px 25px;
    background-repeat: no-repeat;
}

.low-cost__list li:nth-last-child(-n+2) {
    padding-left: 2rem;
    background-image: url("../source/images/icons/icons8-close.svg");
    background-position: 0 0;
    background-size: 25px 20px;
    background-repeat: no-repeat;
}
.low-cost__list li:nth-last-child(-n+2) {
    text-decoration: line-through;
    color: grey;
}
.medium-cost__list li:nth-last-child(n+2) {
    padding-left: 2rem;
    background-image: url("../source/images/icons/checkmark-svgrepo-com.svg");
    background-position: 0 0;
    background-size: 25px 25px;
    background-repeat: no-repeat;
}
.medium-cost__list li:nth-last-child(-n+1) {
    padding-left: 2rem;
    background-image: url("../source/images/icons/icons8-close.svg");
    background-position: 0 0;
    background-size: 25px 20px;
    background-repeat: no-repeat;
}
.medium-cost__list li:nth-last-child(-n+1) {
    text-decoration: line-through;
    color: grey;
}
.luxury-cost__list li {
    padding-left: 2rem;
    background-image: url("../source/images/icons/checkmark-svgrepo-com.svg");
    background-position: 0 0;
    background-size: 25px 25px;
    background-repeat: no-repeat;
}

.pricing-btn {
    display: block;
    margin: 40px auto 0 auto;
    cursor: pointer;
    border: 1px solid #0d42ff;
    border-radius: 5px;
    padding: 12px 35px;
    background: transparent;
    transition: 0.3s;
}
.pricing-btn a {
    color: #0d42ff;
    font-weight: 700;
    font-size: 17px;
    transition: 0.3s;
}
.pricing-btn:hover {
    background: #0d42ff;
}
.pricing-btn:hover a {
    color: #fff;
}
.pricing-item:hover {
    border-top: 5px solid #001f8d;
}
/*pricing-section start*/

/*footer start*/

.footer {
    padding: 50px 0;
    background-color: #0e1d34;
    color: #fff;
}
.footer__wrapper {
    display: flex;
    justify-content: space-between;
}
.footer-logo-name {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}
.footer-logo-text {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 17px;
    max-width: 350px;
}
.social__list {
    display: flex;
    gap: 20px;
}
.social__list li {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    transition: 0.3s;
}
.social__list li:hover {
    border: 1px solid rgba(255, 255, 255, 0.8);
}
.useful-links-title,
.contact-us-title {
    font-size: 16px;
    font-weight: 700;
}
.useful-links__list a,
.contact-us__list p {
    display: block;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 300;
}
.contact-us__list span {
    color: #fff;
}
.copyright {
    margin-top: 30px;
    font-weight: 300;
    text-align: center;
}
/*footer end*/