
// variables start
$color-secondary: #0e1d34;
// variables end

// common start
* {
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style: none;
}
// common end

// header start
.header-and-hero__wrapper {
  width: 100%;
  min-height: 50vh;
  background-color: $color-secondary;
  background-image: url("/source/images/hero-bg.png");
  background-size: cover;
  background-position: center;
  position: relative;
}
//.bg-image {
//  background-repeat: no-repeat;
//  background-attachment: fixed;
//  background-size: cover;
//  background-position: center center;
//}

.wrapper {
  max-width: 1320px;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  width: 64px;
  height: 64px;

  svg {
    fill: white;
  }
}
// header end




